{% extends "layout.html" %}

{% block title %}
    Tasky - Home
{% endblock %}

{% block main %}
    <!-- Add task modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add new TASK</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: black;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Button adding form -->
                    <form action="/update" method="post" name="add-button">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input autocomplete="off" autofocus class="form-control" name="name" id="name" placeholder="MY TASK" type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="timespan">Timespan:</label>
                            <select class="form-control" name="timespan" id="timespan" required>
                                <option value="manualreset">Manual Reset</option>
                                <option value="days">Days</option>
                                <option value="weeks">Weeks</option>
                                <option value="months">Months</option>
                                <option value="years">Years</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="multiplier">Multiplier:</label>
                            <input type="number" min="1" max="999" name="multiplier" id="multiplier" value="1" disabled>
                        </div>
                        <div class="form-group">
                            <label for="color">Color:</label>
                            <input type="color" name="color" id="color" value="#ff0000">
                        </div>
                        <button id="add-button" class="btn btn-primary" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Buttons -->
    <div class="buttons">
        <!-- Main button (add) -->
        <div class="main-button m-4">
            <button class="button" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: white;">
                <h3>ADD TASK</h3>
            </button>
        </div>
        <!-- User's buttons -->
        {% if buttons %}
            {% for button in buttons %}
                <div class="user-button m-4" id="{{button['button_id']}}">
                    <div class="button-head">
                        <button button_id="{{button['button_id']}}" class="button update-button" style="background-color: {{button['color']}};">
                            <h3>{{button['name']}}</h3>
                        </button>
                    </div>
                    <div class="button-foot">
                        <span><h3 class="counter mt-2">Count:</h3> <h3 class="counter" id="count{{button['button_id']}}">{{button['count']}}</h3></span>
                        {% if button['timespan'] != "manualreset" %}
                            <h3 id="msg{{button['button_id']}}">Resets every {{button['multiplier']}} {{button['timespan']}}</h3>
                            <div class="util-buttons">
                                <button class="btn btn-primary btn-primary reset" id="reset{{button['button_id']}}" button_id="{{button['button_id']}}">Reset</button>
                                <button class="btn btn-primary btn-danger remove m-2" id="remove{{button['button_id']}}" button_id="{{button['button_id']}}">Remove</button>
                            </div>
                        {% else %}
                            <h3 id="msg{{button['button_id']}}">Manual reset</h3>
                            <div class="util-buttons">
                                <button class="btn btn-primary btn-primary reset" id="reset{{button['button_id']}}" button_id="{{button['button_id']}}">Reset</button>
                                <button class="btn btn-primary btn-danger remove m-2" id="remove{{button['button_id']}}" button_id="{{button['button_id']}}">Remove</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <audio id="click-sound" src="static/audio/shortkey.wav"></audio>
    </div>
{% endblock %}