{% extends "layout.html" %}

{% block title %}
    Tasky - Log in
{% endblock %}

{% block main %}
<div class="mt-5">
    <div class="form-group">
        <h2>Log in</h2>
    </div>
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="username" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="current-password" class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <span>New here? <a href="/register">Create an account</a></span>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
</div>
{% endblock %}
